body {
    background-color: white;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

text {
    margin-top: 200px;
}

section {
    background: #000;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
    

}

.section1 {
    background-image: url("images/imagen1.jpg");
    text-align: center;
    align-items: center;

    min-height: 500px;

    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section2 {
    background-color: black;
    min-height: 500px;
    text-align: center;
}
.section3 {
        background-image: url("images/imagen2.jpg");
        text-align: center;

        min-height: 500px;
    
        background-attachment: scroll;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}